.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.banner .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.banner .banner-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 206px;
}

.banner .banner-left-content {
    width: 100%;
    max-width: 397px;
}

.banner .banner-heading {
    color: var(--color-primary);
    font-family: var(--font-bold);
    font-size: 54.764px;
    font-weight: 800;
    line-height: normal;
}

.banner .banner-description {
    margin-top: 18px;
    color: var(--color-primary);
    font-family: var(--font-regular);
    font-size: 18.2544px;
    font-weight: 400;
    line-height: normal;
}

.banner .start-now {
    margin-top: 38.0208px;
    padding: 15px 60px;
    font-family: var(--font-regular);
    background-color: var(--bg-tertiary);
    color: var(--color-primary);
    border: 1px solid var(--bg-tertiary);
}


.banner .banner-right-images {
    position: absolute;
    right: 10%;
    top: -24%;
    display: flex;
    flex-direction: column;
}

.banner .computer-img-two {
    position: absolute;
    top: 43%;
    left: 15%;
}

.banner .mobile-banner-logos-wrapper {
    display: none;
}

@media (max-width:1331px) {

    .banner .banner-wrapper {
        flex-direction: column;
    }

    .banner .banner-left-content {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%);
        max-width: 600px;
    }

    .banner .banner-right-images {
        display: flex;
        left: 25%;
        margin-top: 21%;
    }

}

@media (max-width:1210px) {
    .banner .banner-wrapper {
        top: 120px;
    }

    .banner .banner-right-images {
        display: flex;
        left: 19%;
    }
}

@media (max-width:992px) {
    .banner .banner-wrapper {
        top: 110px;
    }

    .banner .banner-heading{
        font-size: 49.764px;
    }
}

@media (max-width:860px) {
    .banner .banner-description {
        font-size: 15.2544px;
    }
}

@media (max-width:769px) {

    .banner .banner-wrapper {
        top: 200px;
    }

    .banner .banner-right-images {
        display: none;
    }

    .banner .banner-left-content {
        display: flex;
        flex-direction: column;
        left: 0%;
        transform: translateX(-0%);
        max-width: 100%;
    }

    .banner .start-now {
        margin-top: 20px;
    }

    .banner .mobile-banner-logos-wrapper {
        margin-top: 25.09px;
    }

    .banner .mobile-banner-logos-wrapper {
        display: flex;
        margin-top: 35.09px;
    }

    .banner .partner-logo {
        margin-left: 53.3px;
    }

    .banner .partner-logo:first-child {
        margin-left: 0;
    }

}

@media (max-width:526px) {
    .banner .banner-wrapper {
        top: 100px;
    }

    .banner .banner-left-content {
        max-width: 326px;
        left: 0%;
        transform: translateX(-0%);
        align-items: start;
    }

    .banner .banner-heading {
        font-size: 35.764px;
    }

    .banner .banner-description {
        font-size: 12.2544px;
        margin-top: 14px;
    }

    .banner .start-now {
        margin-top: 13.0208px;
        padding: 10px 40px;
    }

}