header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 15px 0;
    transition: var(--transition-default);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .nav-list,
header .nav-list-two {
    display: flex;
    align-items: center;
}

header .nav-items {
    margin-right: 41px;
}

header .nav-items:last-child {
    margin-right: 0;
}

header .nav-link {
    position: relative;
    color: var(--color-primary);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: var(--font-regular);
    font-size: 16px;
    font-weight: 400;
    padding: 15px 0;
}

header .sign-in {
    background-color: var(--bg-secondary);
    font-family: var(--font-regular);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    border-radius: 96px;
    padding: 12px 40px;
    border: 1px solid var(--bg-secondary);
}


header .hamburger {
    display: none;
}

header aside {
    position: fixed;
    width: 30%;
    height: 100%;
    background-color: var(--color-primary);
    top: 0px;
    left: 0px;
    transform: translateX(-100%);
    z-index: 2;
    transition: all 0.2s ease-in-out;
    padding-top: 32px;
}

header aside .mobile-nav-items {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    color: var(--primary-bg);

}

@media (max-width:992px) {

    header .nav-list,
    header .nav-list-two {
        display: none;
    }

    header .hamburger {
        position: relative;
        display: block;
        height: 30px;
        width: 30px;
        transition: all 0.2s ease-in-out;
    }

    header .line {
        position: absolute;
        width: 90%;
        background-color: var(--color-primary);
        height: 3px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.3s ease-in-out;
    }

    header .line:first-child {
        top: 5px;
    }

    header .line:nth-child(2) {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    header .line:last-child {
        bottom: 5px;
    }

    .open .line:nth-child(2) {
        opacity: 0;
    }

    .open .line:first-child {
        transform: rotate(45deg);
        left: 2px;
        top: 14px;
    }

    .open .line:last-child {
        transform: rotate(-45deg);
        left: 2px;
        top: 14px;
    }

    header .mobile-nav-list {
        list-style-type: none;
    }

    header .mobile-nav-items {
        margin-bottom: 10px;
    }

    header .mobile-nav-links {
        text-decoration: none;
        font-family: var(--font-regular);
        color: var(--secondary-color);
    }

    header aside{
        width: 60%;
    }

}